<%- include('../partials/header') %>
<%- include('../partials/nav') %>


<div class="profile-info">
    <h1 class="profile-name"><%= profile.name %></h1>
    <img src="<%= profile.avatar %>" class="profile-avatar">
    <ul class="profile-jobs">
        <% profile.jobs.forEach(job => { %>
            <% if (profile.jobs.indexOf(job) == profile.jobs.length - 1) { %>
                <li class="profile-job-li"><%= job %></li>
            <% } else { %>
                <li class="profile-job-li"><%= job %>, </li>
            <% } %>
        <% }) %>
    </ul>
    <h4 class="profile-location"><%= profile.location %></h4>
    <h4 class="contact-header">get in touch with <%= profile.name %>:</h4>
    <% if (profile.showGmail) { %>
    <h4 class="profile-email"><%= profile.email %></h4>
    <% } %>
    <h4 class="profile-email-2"><%= profile.secondEmail %></h4>
    <% if (profile.phoneNum.toString().length == 7) {%>
        <% let phoneNum = profile.phoneNum.toString() %>
        <% let phoneChunk1 = phoneNum.split('').slice(0, 3).join('') %>
        <% let phoneChunk2 = phoneNum.split('').slice(3).join('') %>
        <% let phoneStr = `${phoneChunk1}-${phoneChunk2}` %>
        <h4 class="profile-phone-num"><%= phoneStr %></h4>
    <% } else if (profile.phoneNum.toString().length == 10) { %>
        <% let phoneNum = profile.phoneNum.toString() %>
        <% let phoneChunk1 = phoneNum.split('').slice(0, 3).join('') %>
        <% let phoneChunk2 = phoneNum.split('').slice(3, 6).join('') %>
        <% let phoneChunk3 = phoneNum.split('').slice(6).join('') %>
        <% let phoneStr = `(${phoneChunk1})${phoneChunk2}-${phoneChunk3}` %>
        <h4 class="profile-phone-num"><%= phoneStr %></h4>
    <% } else { %>
        <h4 class="profile-phone-num"><%= profile.phoneNum %></h4>
    <% } %>
    <div class="profile-links">
        <% profile.websites.forEach(website =>{ %>
            <% if (website.length) { %>
                <a href="<%= website %>" target="_blank"><%= website %></a>
            <% } %>
        <% }) %>
    </div>
    
    <p class="profile-bio"><%= profile.bio %></p>
    
    <% if (user && profile.owner?._id.equals(user?._id)) { %>
        <a href="/profiles/edit/<%= profile._id %>" class="profile-edit"><button type="button" class="btn btn-success">edit profile</button></a>
    <% } %>
</div>

<div class="post-list">
    <div class="card">
        <% let alreadyEndorsed = false %>
        <% if (user && profile.endorsements.some(e => e.author == user._id)) { alreadyEndorsed = true } %>
        <% if (user && user.id != profile.owner && !alreadyEndorsed) { %>
            <form action="/endorsements/<%= profile._id %>" method="POST">
                <fieldset class="card-body">
                    <label class="form-label card-title comment-c2a">endorse <%= profile.name %></label>
                    <textarea name="note" class="form-control mb-1 comment-field" placeholder="write a glowing recommendation here" rows="3" maxlength="480"></textarea>
                    <input type="submit" value="add endorsement" class="btn btn-success comment-btn">
                </fieldset>
            </form>
            <% } else if (!user) { %>
                <div class="card-body">
                    <h5 class="card-title"><a href="/auth/google">log in</a> to endorse <%= profile.name %>!</h5>
                </div>
            <% } %>
    </div>
</div>


<% if (profile.endorsements.length) { %>
    <section class="post-list">
        <h5 class="endorsement-header">here's what people are saying about <%= profile.name %></h5>
        <% profile.endorsements.slice().reverse().forEach(endorsement => { %>
            <div class="card">
                <div class="card-body">
                    <a href="/profiles/<%= endorsement.author._id %>" class="post-pfp-link"><img src="<%= endorsement.author.avatar %>" alt="<%= endorsement.author.name %>'s profile picture" class="post-pfp"></a>
                    <a href="/profiles/<%= endorsement.author._id %>" class="poster-link"><h5 class="card-title poster-name"><%= endorsement.author.name %></h5></a>
                    <% let timeArr = endorsement.createdAt.toString('') %>
                    <% timeArr = timeArr.split(' ').slice(0, 5) %>
                    <% timeArr[4] = timeArr[4].split(':').slice(0, 2) %>
                    <% timeStr = `${timeArr[2]} ${timeArr[1]} ${timeArr[3]} ${timeArr[4][0]}:${timeArr[4][1]}` %>
                    <p class="timestamp"><%= timeStr %></p>
                    <p class="card-text post-body"><%= endorsement.note %></p>
                    <% if (endorsement.author?._id.equals(user?._id)) { %>
                        <form action="/endorsements/<%= profile._id %>/<%= endorsement._id %>?_method=DELETE" method="POST" class="delete-post-btn">
                            <input type="submit" class="btn btn-danger" value="delete patch">
                        </form>
                    <% } %>
                </div>
            </div>
            <br>
        <% }) %>
    </section>
<% } %>


<section class="post-list">
    <h5 class="endorsement-header"><%= profile.name %>'s patches</h5>
    <% posts.slice().reverse().forEach(post => { %>
        <div class="card">
            <div class="card-body">
                <a href="/profiles/<%= post.owner._id %>" class="post-pfp-link"><img src="<%= post.owner.avatar %>" alt="<%= post.owner.name %>'s profile picture" class="post-pfp"></a>
                <a href="/profiles/<%= post.owner._id %>" class="poster-link"><h5 class="card-title poster-name"><%= post.owner.name %></h5></a>
                <% let timeArr = post.createdAt.toString('') %>
                <% timeArr = timeArr.split(' ').slice(0, 5) %>
                <% timeArr[4] = timeArr[4].split(':').slice(0, 2) %>
                <% timeStr = `${timeArr[2]} ${timeArr[1]} ${timeArr[3]} ${timeArr[4][0]}:${timeArr[4][1]}` %>
                <p class="timestamp"><%= timeStr %></p>
                <p class="card-text post-body"><%= post.body %></p>
                <% if (post.spotify) { %>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/<%= post.spotify %>?utm_source=generator" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="spotify-player"></iframe>
                <% } %>
                <% if (post.comments.length) { %>
                    <a href="/posts/<%= post._id %>" class="card-link patch-chain-link">replies (<%= post.comments.length %>)</a>
                <% } else { %>
                    <a href="/posts/<%= post._id %>" class="card-link patch-chain-link">replies</a>
                <% } %>
                <% if (user && !(post.likes.includes(user._id))) { %>
                    <form action="" method="POST"></form>
                <% } %>
                <% if (post.owner?._id.equals(user?._id)) { %>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="delete-post-btn">
                        <input type="submit" class="btn btn-danger" value="delete patch">
                    </form>
                <% } %>
            </div>
        </div>
    <% }) %>
</section>

<%- include('../partials/footer') %>