<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div>
    <h1>patchbay</h1>
</div>

<button type="button" class="btn btn-success"><a href="/posts/new">make a patch</a></button>

<% posts.forEach(post => { %>
    <div class="card w-75">
        <div class="card-body">
            <img src="<%= post.owner.avatar %>" alt="<%= post.owner.name %>'s profile picture">
            <h5 class="card-title"><%= post.owner.name %></h5>
            <h6 class="card-title"><%= post.title %></h6>
            <p class="card-text"><%= post.body %></p>
            <a href="/posts/<%= post._id %>" class="card-link">view patch chain</a>
            <% if (post.owner?._id.equals(user?._id)) { %>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-danger" value="delete patch">
                </form>
            <% } %>
        </div>
    </div>
<% }) %>

<%- include('../partials/footer') %>