<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div>
    <h1 id="patchbay-title">patchbay</h1>
</div>

<% if (user) { %>

<a href="/posts/new" class="post-btn">
    <button type="button" class="btn btn-success post-btn-btn">
        <p class="post-btn-text">+</p>
    </button>
</a>

<% } %>

<section class="post-list">
    <% posts.slice().reverse().forEach(post => { %>
        <div class="card">
            <div class="card-body">
                <a href="/profiles/<%= post.owner._id %>" class="post-pfp-link"><img src="<%= post.owner.avatar %>" alt="<%= post.owner.name %>'s profile picture" class="post-pfp"></a>
                <a href="/profiles/<%= post.owner._id %>" class="poster-link"><h5 class="card-title poster-name"><%= post.owner.name %></h5></a>
                <% let timeArr = post.createdAt.toString('') %>
                <% timeArr = timeArr.split(' ').slice(0, 5) %>
                <% timeArr[4] = timeArr[4].split(':').slice(0, 2) %>
                <% timeStr = `${timeArr[2]} ${timeArr[1]} ${timeArr[3]} ${timeArr[4][0]}:${timeArr[4][1]}` %>
                <p class="timestamp"><%= timeStr %></p>
                <p class="card-text post-body"><%= post.body %></p>
                <% if (post.spotify) { %>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/<%= post.spotify %>?utm_source=generator" width="100%" height="100%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" class="spotify-player"></iframe>
                <% } %>
                <% if (post.comments.length) { %>
                <a href="/posts/<%= post._id %>" class="card-link patch-chain-link"><%= post.comments.length %> replies</a>
                <% } else { %>
                    <a href="/posts/<%= post._id %>" class="card-link patch-chain-link">no replies, be the first!</a>
                <% } %>
                <% if (user && !(post.likes.includes(user._id))) { %>
                    <form action="" method="POST"></form>
                <% } %>
                <% if (post.owner?._id.equals(user?._id)) { %>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="delete-post-btn">
                        <input type="submit" class="btn btn-danger" value="delete patch">
                    </form>
                <% } %>
            </div>
        </div>
    <% }) %>
</section>


<%- include('../partials/footer') %>