<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="card w-75">
    <div class="card-body">
        <img src="<%= post.owner.avatar %>" alt="<%= post.owner.name %>'s profile picture">
        <a href="/profiles/<%= post.owner._id %>"><h5 class="card-title"><%= post.owner.name %></h5></a>
        <h6 class="card-title"><%= post.title %></h6>
        <p class="card-text"><%= post.body %></p>
        <% if (post.owner?._id.equals(user?._id)) { %>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-danger" value="delete patch">
            </form>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>